<html>
    <style>
        body{
            font-size: 17px;
        }
    </style>
    <body>
        Bonjour Mme/Mr <b><%= userToSend.fullname %></b>,<br>
            Félicitations votre mot de passe a été réinitialisé avec succès.<br>
            Pour entrer le nouveau mot de passe de votre compte, veuillez cliquer sur le lien ci dessous ou copier/coller dans votre navigateur internet.<br>
            <a href=<%= userToSend.link %>><%= userToSend.link %></a><br>
            ---------------<br>
            Ceci est un mail automatique, Merci de ne pas y répondre.
    </body>
</html>